@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.container
{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    background-color: #09192E;
    justify-content: center;
    align-items: center;
    font-family: "EB Garamond", serif;
    
    
}
.container b{
    color: #7BA4DA;
}
.containerLeft
{
    display: block;
    width: 100%;
    
    padding-left: 10vw;
    height: 50%;
    align-items: center;

}
.containerRight
{
    width: 50%;
    height: 50%;
    
    

}
.name {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 34px; /* Large size for prominence */
    color: #c0d4ee; /* Light blue for a soft, professional look */
    margin-right: auto; /* Pushes everything else to the right */
}

.resumeButton
{
    padding-left: 5px;
    text-decoration: none;
    

}
.resumeButton button{
  font-family: "EB Garamond", serif;

  font-size: 30px;
  background-color: transparent;
  border: 2px solid;
  border-color: #7BA4DA;
  color: #7BA4DA;
  border-radius: 5px;
}

.field{
    display: flex;
    width: 100%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.billy
{
    width: 350px;
    height: 400px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroDescription{
    display: flex;
    width: 100%;
    height: 50%;
    padding-top: 20px;
    justify-content: center;
    
    font-size: 32px;
}

.links img{
    filter: invert(33%) sepia(95%) saturate(748%) hue-rotate(183deg) brightness(90%) contrast(89%);
    width: 50px;
    height: 50px;
    padding: 10px;
}
.links{
    
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* iphone*/
@media only screen 
  and (min-device-width: 353px) 
  and (max-device-width: 852px) { 
    .billy
{
    width: 150px;
    height: 200px;
}
.name{
    padding-top: 100px;
}
.resumeButton button{
    font-family: "EB Garamond", serif;
  
    font-size: 10px;
    background-color: transparent;
    border: 2px solid;
    border-color: #7BA4DA;
    color: #7BA4DA;
    border-radius: 5px;
  }
  .links{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.heroDescription{
    display: flex;
    width: 110%;
    height: 50%;
    padding-top: 20px;
    justify-content: center;
    
    font-size: 20px;
}

.links img{
    filter: invert(33%) sepia(95%) saturate(748%) hue-rotate(183deg) brightness(90%) contrast(89%);
    width: 30px;
    height: 30px;
    padding: 5px;
}
}


 
/* ipad */
@media only screen 
and (min-device-width: 830px) 
and (max-device-width: 1024px) {
    .billy
{
    width: 350px;
    height: 400px;
}
.containerLeft
{
    display: block;
    width: 100%;
    
    padding-left: 10vw;
    height: 50%;
    align-items: center;

}
.containerRight
{
    width: 50%;
    height: 50%;
    
    

}
.resumeButton button{
    font-family: "EB Garamond", serif;
  
    font-size: 30px;
    background-color: transparent;
    border: 2px solid;
    border-color: #7BA4DA;
    color: #7BA4DA;
    border-radius: 5px;
  }
  .heroDescription{
    display: flex;
    width: 100%;
    height: 50%;
    padding-top: 20px;
    justify-content: center;
    
    font-size: 32px;
}

.links img{
    filter: invert(33%) sepia(95%) saturate(748%) hue-rotate(183deg) brightness(90%) contrast(89%);
    width: 50px;
    height: 50px;
    padding: 10px;
}
.links{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

}
