@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    width: 100vw;
    height: 100%;
    
    background-color: #09192E;
    padding: 10px;
    margin: 0;
  }
  
  
  .card {
    flex: 0 1 calc(50% - 20px); 
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #07172e;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    color: white;
    border: 2px solid #084aa1; 
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
  }
  .gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Adjust padding as necessary */
  }
  
  .project-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .project-button:hover {
    background-color: #0056b3;
  }
  .card img {
    max-width: 100%;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 5px; 
    filter: invert(33%) sepia(95%) saturate(748%) hue-rotate(183deg) brightness(90%) contrast(89%);
  }
  
  .card h3 {
    margin-top: 15px;
    
  }
  
  .card p {
    
  }

  .title
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .content{
    
    width: 100%;
    height: 100%;
    border-bottom: 2px solid;
    border-color: #c0d4ee;

  }
  .gif{
    width: 100%;
    height: 100%;
  }
  .info{
    display: block;
    background-color: #3b5981;
    border-radius: 5px;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    
  }
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    

  }
  .description{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
  }
  .learnMore{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  /* iphone*/
@media only screen 
and (min-device-width: 393px) 
and (max-device-width: 852px) { 
  
  .projects-container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    width: 100vw;
    height: 300vh;
    
    background-color: #09192E;
    
    padding: 10px;
    margin: 0;
  }
  

}

/* ipad */
@media only screen 
and (min-device-width: 830px) 
and (max-device-width: 1024px) {
  
  

}
