* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
}


html, body, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #09192E;
  

}
.navigation
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #051121;
  color: white; 
  padding: 10px 0;
  z-index: 1000; 
  text-align: center; 
}


/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 16px; /* Width of the vertical scrollbar */
  height: 16px; /* Height of the horizontal scrollbar */
}

/* Customizes the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #333, #000000); /* Example gradient */
  border-radius: 8px; /* Rounded corners for the track */
}

/* Customizes the handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0650f0, #3023ae); /* Example gradient */
  border-radius: 8px; /* Rounded corners for the thumb */
}
